body {
    background-color: black;
    color: white;
}

#field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#field div {
    display: flex;
    width: 30%;
    justify-content: space-around;
    border: 2px solid white;
    margin-top: 2px;
}

#field div input {
    margin-top: 6%;
    height: 30%;
    width: 30%;
}

#submit {
    margin-top: 5px;
    width: 20%;
    height: 5em;
    border-radius: 15%;
}