body {
    background-color: black;
    color: white;
}

h3,
h2 {
    margin: 0;
    padding: 0;
}

#field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#field div {
    display: flex;
    width: 50%;
    justify-content: space-around;
    border: 2px solid white;
    margin-top: 2px;
    padding-top: 5%;
    padding-bottom: 5%;
}

#field div input {
    height: 30%;
    width: 30%;
}

#submit,
#delete {
    margin-top: 5px;
    width: 20%;
    height: 5em;
    border-radius: 15%;
}